.services-button{
    padding: 10px;
    border: 2px solid #0bcfce;
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0);
    transition: 0.3s;
}

.services-button:hover{
    background-color: #0bcfce;
}