.achievements{
    margin: 30px;
    width: 80%;
}
.achievement img{
    width: 20%;
}
.about-text{
    padding: 10px 20px;
}
.achievement {
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}
.rates{
    border-radius: 10px;
    background-color: #0bcfce;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* responsive */
@media only screen and (max-width: 688px){
    .achievements{
        margin: 0px;
        width: 95%;
    }
    
    .achievement{
        flex-direction: column;
        margin: 0px;
        width: 80%
    }
    
    .achievement img{
        width: 50%;
    }

    .emergency-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .rates{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .achievements{
        margin: 0px;
        width: 95%;
    }
    
    .achievement{
        flex-direction: column;
        margin: 0px;
        width: 80%
    }
    
    .achievement img{
        width: 50%;
    }

    .emergency-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .rates{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}