.carousel-caption{
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}
.carousel{
    width: 50%;
}
.carousel img{
    border-radius: 10px;
}

/* responsive */
@media only screen and (max-width: 688px){
    .carousel{
        width: 80%;
    }
    .heading{
        font-size: 26px;
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .carousel{
        width: 80%;
    }
    
}